.wrapper {
  margin: 0 1.5rem 3rem;
  flex-basis: calc(33.333% - 3rem);
  max-width: calc(33.333% - 3rem);
  display: flex;
  flex-direction: column;
}

.image {
  margin: auto;
  position: relative;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border-radius: 0.4rem;
  height: 300px;
  overflow: hidden;
  width: 100%;
}

.image:hover {
  box-shadow: 0 40px 45px rgba(0, 0, 0, 0.1);
  transform: scale(1.04);
}

.img {
  object-fit: cover;
  object-position: center;
}

.placeholder {
  width: 100%;
  height: 300px;
  background: linear-gradient(-45deg, #3e5fbc 0%, #284187 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.2rem;
  border-radius: 0.4rem;
}

.information {
  text-align: center;
  padding-top: 1rem;
}

.date {
  margin-top: 1rem;
  color: #7f8184;
  font-size: 0.9rem;
}

.title {
  font-size: 1.8rem;
  margin: 0.5rem 0;
  color: #333438;
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  font-family: 'Candal', sans-serif;
}

.title:hover {
  color: #3498db;
}

.excerpt {
  color: #4b4e57;
  margin-top: 0.5rem;
  line-height: 1.6;
}

@media (max-width: 900px) {
  .wrapper {
    flex-basis: 100%;
    max-width: 100%;
    margin: 0 0 3rem 0;
  }
}

@media (max-width: 500px) {
  .image {
    height: 200px;
  }
  
  .title {
    font-size: 1.5rem;
  }
}

