.postWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 4rem 4rem 1rem 4rem;
}

@media (max-width: 1000px) {
  .postWrapper {
    margin: 4rem 2rem 1rem 2rem;
  }
}

@media (max-width: 700px) {
  .postWrapper {
    margin: 4rem 1rem 1rem 1rem;
  }
}

